@import "mapas.less";
@import "variaveis.less";

@breakPointMobile: ~"(max-width: 767px)";
@breakPointTablet: ~"(min-width: 768px) and (max-width: 1023px)";


body {
    background-color: #colors[corPrincipal];
    color: #colors[textColor];
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;

    @media @breakPointTablet {
        max-width: 80%;
    }

    @media @breakPointMobile {
        max-width: 70%;
    }
}

header {
    padding-bottom: 20px;
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100px;           
    display: flex;
    align-items: center;         
    justify-content: center;
    background-color: #colors[corSecundaria];
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;
}

.menu li a {
    color: #colors[textColor];
    text-decoration: none;
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

.products h4 {
    margin-bottom: 16px;
}

.products p {
    margin-bottom: 16px;
    opacity: 0.8;
}

.product-item img {
    width: 70%;
    border-radius: 16px;
}

.product-button {
    display: block;
    background-color: #colors[buttonColor];
    color: #colors[textColor];
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
}

.product-button:hover {
    background-color: #colors[buttonColorHover];
}

footer {
    background-color: #colors[corSecundaria];
    padding: 30px 0;

    .social-links {
        display: flex;
        justify-content: center; 
        align-items: center;    
        gap: 16px;              
        width: 100%;            
        margin: 0 auto;
    }

    .social-links li {
        a {
            display: flex;       
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #colors[buttonColor];
            color: #fff;
            border-radius: 50%;
            text-align: center;
            transition: all 0.3s ease;
    
            &:hover {
                background-color: #colors[buttonColorHover];
                transform: scale(1.2);
            }
        }
    
        img {
            display: block;    
            margin: 0 auto;    
            max-width: 100%;   
            height: auto;      
        }
    }
}

@media @breakPointMobile {
    .social-links {
        flex-direction: column; 
    }
}